nav {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 5px hsla(0, 0, 0, 0.5);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  height: 40px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 70%);
}

nav a:hover {
  color: hsl(0, 0%, 100%);
}

nav li:first-child {
  margin-right: 0;
}

.logo a {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Alegreya", sans-serif;
}

.svg {
  fill: hsl(0, 0%, 70%);
}

.svg:hover {
  fill: hsl(0, 0%, 100%);
}

.sidbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 400px;
  z-index: 999;
  background-color: hsla(0, 0%, 0%, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px hsla(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 15px;
}

.sidbar ul {
  width: 100%;
}

.sidbar li {
  width: 100%;
}

.sidbar a {
  width: 100%;
  color: hsl(0, 0%, 100%);
}

.mnueIcon {
  display: none;
  padding-top: 7px;
}

@media (max-width: 850px) {
  .hideOnMobile {
    display: none;
  }
  .mnueIcon {
    display: block;
  }
  .sidbar {
    padding-top: 0;
  }
  nav li:first-child {
    margin-right: auto;
  }
  .sidbar li {
    margin: 2rem 0 ;
    padding-left: 1rem;
  }
  .sidbar li:first-child {
    margin: 0;
    padding-left: 0;
    margin-left: 20rem;
  }

  .sidbar a {
    font-family: "Lato", sans-serif;
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .sidbar li:first-child {
    margin: 0;
    padding-left: 0;
    margin-left: 19rem;
  }

  .sidbar a {
    font-family: "Lato", sans-serif;
    font-size: 3rem;
  }
}
